# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
*.egg-info

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
volume/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
sample-docs/
